body{
    margin: 0px;
    background-color: #d3d3d3;
}

#app_title {
    font-family: "Montserrat", sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    letter-spacing: 3px;
    color: #1A1A1A;
    background-color: aquamarine;
}

#login_panel {
    height: 200px;
    width: 300px;
    background-color: whitesmoke;
    border-radius: 10px;
    border: solid black 2px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

#panel_holder {
    width: 100%;
    height: 600px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.login_element {
    margin: 10px
}